.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 40px 0;
}

header {
    text-align: center;
    margin-bottom: 60px;
}

.card-items {
    display: grid;
    margin: 0 auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}


.card {
    position: relative;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
}


.fav {
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 22px;
    right: 20px;
    top: 15px;
}

.typo {
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: 600;
    padding: 5px 10px;
    color: #fff;
    font-size: var(--fsp);
    border-radius: 5px;
    background-color: rgb(244, 128, 18);
}

.media {
    text-align: center;
    padding-top: 35px;
}

.media img {
    width: 70%;
    height: 70%;
}

.title {
    font-size: var(--fsp);
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 22px;
}

.rating {
    display: flex;
    align-items: center;
    font-size: var(--fsh5);
}

.star {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.star img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}


.price {
    color: #000;
    margin: 10px 0;
    font-weight: 600;
    font-size: var(--fsh5);
}



.ras > p {
    color: #0e4269;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #d6edff;
    font-size: var(--fsh5);
}

.buy {
    margin-top: 15px;
    align-items: center;
    text-align: center;
    color: #fff;
    /* height: 32px; */
    width: 100%;
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--btn-color);
}