{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods</title>

    <link rel="stylesheet" href = "{% static 'main/css/cards.css' %}">
    <link rel="stylesheet" href = "{% static 'main/css/chatbot.css' %}">
    <link rel="stylesheet" href = "{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href = "{% static 'main/css/reset.css' %}">
</head>
<body>
    <!-- <nav>

    </nav> -->
    <div class="container">
        <header>
            <h1>Смартфоны и сотовые телефоны в Алматы</h1>
        </header>
        <div class="card-items">
            <div class="card">
                <img src="./public/icons/heart.svg" alt="" data-active="false" class="fav">
                <div class="typo">0 - 0 - 24</div>
                <div class="media">
                    <img src="./public/items/1.webp" alt="product">
                </div>
                <h5 class="title">Смартфон Apple iPhone 15 Pro Max 256GB Natural Titanium <h5>
                <div class="rating">
                    <div class="star"><img src="./public/icons/star.svg" alt=""> 5</div>
                    <div class="grey reviews">(19 отзывов)</div>
                </div>
                <p class="price">719 990 ₸</p>
                <div class="ras"><p>2313 x 12 мес</p></div>
                <div class="buy">В корзину </div>
            </div>
            


            <div class="card">
                <img src="./public/icons/heart.svg" alt="" data-active="false" class="fav">
                <div class="typo">0 - 0 - 24</div>
                <div class="media">
                    <img src="./public/items/2.webp" alt="product">
                </div>
                <h5 class="title">Смартфон Apple iPhone 15 Pro Max 256GB Natural Titanium <h5>
                <div class="rating">
                    <div class="star"><img src="./public/icons/star.svg" alt=""> 5</div>
                    <div class="grey reviews">(19 отзывов)</div>
                </div>
                <p class="price">719 990 ₸</p>
                <div class="ras"><p>2313 x 12 мес</p></div>
                <div class="buy">В корзину </div>
            </div>

            <div class="card">
                <img src="./public/icons/heart.svg" alt="" data-active="false" class="fav">
                <div class="typo">0 - 0 - 24</div>
                <div class="media">
                    <img src="./public/items/3.webp" alt="product">
                </div>
                <h5 class="title">Смартфон Apple iPhone 15 Pro Max 256GB Natural Titanium <h5>
                <div class="rating">
                    <div class="star"><img src="./public/icons/star.svg" alt=""> 5</div>
                    <div class="grey reviews">(19 отзывов)</div>
                </div>
                <p class="price">719 990 ₸</p>
                <div class="ras"><p>2313 x 12 мес</p></div>
                <div class="buy">В корзину </div>
            </div>

            <div class="card">
                <img src="./public/icons/heart.svg" alt="" data-active="false" class="fav">
                <div class="typo">0 - 0 - 24</div>
                <div class="media">
                    <img src="./public/items/4.webp" alt="product">
                </div>
                <h5 class="title">Смартфон Apple iPhone 15 Pro Max 256GB Natural Titanium <h5>
                <div class="rating">
                    <div class="star"><img src="./public/icons/star.svg" alt=""> 5</div>
                    <div class="grey reviews">(19 отзывов)</div>
                </div>
                <p class="price">719 990 ₸</p>
                <div class="ras"><p>2313 x 12 мес</p></div>
                <div class="buy">В корзину </div>
            </div>


            
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let favs = document.querySelectorAll(".fav");
                favs.forEach(function(fav) {
                    fav.addEventListener("click", function() {
                        let src = fav.getAttribute("src");
                        if (src === "./public/icons/heart.svg") {
                            fav.setAttribute("src", "./public/icons/heart-fill.svg");
                            fav.dataset.active = "true";
                        } else {
                            fav.setAttribute("src", "./public/icons/heart.svg");
                            fav.dataset.active = "false";
                        }
                    });
                });
            });
        </script>
    </div>

    <!-- <footer>

    </footer> -->


    <div id="show-chatbot" class="">
        <div class="chatbot-button">
            <img class="filters" src="https://icon-icons.com/icons2/4036/PNG/512/conversation_chatting_talking_bubble_speech_icon_256494.png" alt="chat">
            <img class="filters" src="{% static 'main/public/icons/close.svg' %}" alt="close">
        </div>
        <div class="chatbot">
            <div class="header">
                <h3>Assistant</h3>
                <img class="filters" src="https://icons8.com/icon/37410/bot" alt="close">
            </div>
            <ul class="chatbox">
                <li class="chat incoming">
                    <img src="https://icons8.com/icon/37410/bot" alt="assistant" class="assistant">
                    <p>Привет, как я могу помочь?</p>
                </li>
                <!-- <li class="chat outgoing">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li> -->
            </ul>
            <div class="chat-input">
                <textarea name="" id="" placeholder="Talk with me..." required></textarea>
                <img class="send-btn filters-1" src="https://icons8.com/icon/37410/bot" alt="send">
            </div>
        </div>
    </div>

    <script src="{% static 'main/js/chatbot.js' %}"></script>
</body>
</html>