.chatbot-button {
    position: fixed;
    right: 2rem;
    bottom: 25px;
    /* height: 50px;
    width: 50px; */
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: var(--brand-color);
    transition: all .2s ease;
    z-index: 3;
}

.show-chatbot .chatbot-button {
    transform: rotate(90deg);
}

.chatbot-button img {
    position: absolute;
}

.show-chatbot .chatbot-button img:first-child,
.chatbot-button img:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-button img:last-child {
    opacity: 1;
}


.chatbot {
    position: fixed;
    right: 2rem;
    bottom: 100px;
    width: 420px;
    transform: scale(.5);
    /* border: 1px solid #ccc; */
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: 15px;
    /* background-color: var(--bg-color); */
    background-color: #fff;
    box-shadow: var(--box-shadow);
    transform-origin: bottom right;
    transition: all .1s ease;
    z-index: 20;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot .header {
    position: relative;
    padding: 16px 0;
    text-align: center;
    border-bottom: 1px solid var(--bg-color);
    background-color: var(--brand-color);
}

.chatbot .header img {
    position: absolute;
    display: none;
    top: 50%;
    right: 20px;
    width: 25px;
    cursor: pointer;
    transform: translateY(-50%);
}

.header h3 {
    color: #fff;
}

.chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}

.chatbox .chat {
    display: flex;
}

.chat:last-child {
    margin-bottom: 40px;
}

.chatbox .incoming img {
    width: 32px;
    height: 32px;
    line-height: 32;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    /* background-color: var(--brand-color); */
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chat p {
    color: #efefef;
    font-size: 1rem;
    max-width: 75%;
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background-color: var(--brand-color);
    box-shadow: var(--box-shadow);
}

.chat p .error {
    background-color: var(--error-color);
    /* color: var(--error-color); */
    color: #fff;
}

.chatbox .incoming p {
    color: var(--primary-color);
    background-color: #f1f1f1;
    border-radius: 10px 10px 10 0;
}

.chatbox li > img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.chatbot .chat-input {
    position: absolute;
    display: flex;
    gap: 5px;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
    background-color: #fff;
    /* background-color: var(--bg-color); */
}

.chat-input textarea {
    height: 55px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 1rem;
    max-height: 180px;
    resize: none;
    padding: 16px 15px 16px 0;
    color: var(--primary-color);
    background-color: #fff;
    /* background-color: var(--bg-color); */
}

.chat-input img {
    position: absolute;
    right: 1.5rem;
    bottom: 2.5rem;
    height: 22px;
    cursor: pointer;
    visibility: hidden;
    align-self: flex-end;
}


.chat-input textarea:valid ~ img {
    visibility: visible;
}



.dots_animation {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}


.dot {
    width: 8px;
    height: 8px;
    margin: 2px;
    border: none;
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    background: var(--brand-color);
    animation: loading .8s linear infinite;
}

.two {
    animation-delay: .15s;
}
.three {
    animation-delay: .3s;
}
/* .four {
    animation-delay: .9s;
} */

@keyframes loading {
    10% {top: 0}
    20% {top: -.5rem}
    30% {top: -.7rem}
    50% {top: -.85rem}
    70% {top: -.7rem}
    80% {top: -.5rem}
    90% {top: 0}
}









@media (min-width: 328px) {
    .chatbot-button {
        padding: 1.7rem;
        right: 1.5rem;
    }

    .chatbot-button img {
        width: 25px;
        bottom: 15px;
        right: 15px;
    }
}

@media(max-width: 490px) {
    .chatbot {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .chatbox {
        height: 80vh;
    }

    .chatbot .header img {
        display: block;
    }

    .show-chatbot .chatbot-button img:last-child {
        bottom: 17px;
        right: 17px;
        width: 28px;
    }

    .chat-input {
        border-top: 1px solid #ccc;
    }
}

@media (min-width: 1024px) {
    .chatbot-button {
        padding: 2rem;
        right: 2rem;
    }

    .chatbot-button img {
        width: 30px;
        bottom: 18px;
        right: 18px;
    }
    
    .show-chatbot .chatbot-button img:last-child {
        bottom: 17px;
        right: 17px;
        width: 30px;
    }

    .chat-input {
        border-top: 1px solid #ccc;
    }
}