<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live queue</title>

    <link rel="stylesheet" href="../../static/main/css/reset.css">
    <link rel="stylesheet" href="../../static/main/css/main.css">
    <link rel="stylesheet" href="../../static/main/css/livequ.css">
</head>
<body>
    <div class="container">
        <div class="select">
            <h1>Выберите услугу: </h1>
            <div class="drop-down">
                <div class="inner-content">Услуги
                    <img src="../../static/main/public/icons/caret-down.svg" class="filters" alt="">
                </div>
                <ul class="drop-down-list">
                    <li>Консультация</li>
                    <li>Военный билет</li>
                    <li>Поставить подпись</li>
                </ul>
            </div> 
        </div>

        

        <div class="queues">
            <div class="content">
                <h1>Ваша услуга: Консультация</h1>
                <p>Оставшееся время: ≈5 мин.</p>
            </div>
            <section>
                <div class="queue">
                    <h3>Номер: 4</h3>
                    <p>Займет времени: ≈5 мин.</p>
                </div>

                <div class="queue">
                    <h3>Номер: 4</h3>
                    <p>Займет времени: ≈5 мин.</p>
                </div>

                <div class="queue">
                    <h3>Номер: 4</h3>
                    <p>Займет времени: ≈5 мин.</p>
                </div>

            </section>
        </div>
    </div>

    <script src="../../static/main/js/select.js"></script>
</body>
</html>