


:root {
    --primary-color: #464c53;
    --grey: #8e979f;
    --brand-color: #fc6b3f;
    --secondary-color: #8e979f;
    --btn-color: #2196f3;
    --bg-color: #f0f1f2;
    --error-color: #721c24;
    --fsh1: 28px;
    --fsh2: 26px;
    --fsh3: 22px;
    --fsh4: 20px;
    --fsh5: 18px;
    --fsp: 16px;
    --hover-color: #0288d1;
}


/* .container {
    width: 1080px;
    margin: 0 auto;

} */



html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
}


.grey {
    color: var(--grey);
}

.filters {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}