


:root {
    --primary-color: #000;
    /* --primary-color: #464c53; */
    --grey: #8e979f;
    --brand-color: #fc6b3f;
    --brand1-color: #ff8762;
    --secondary-color: #8e979f;
    --btn-color: #2196f3;
    --bg-color: #f0f1f2;
    --error-color: #721c24;
    --hover-color: #0288d1;
}


html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color);
}


.grey {
    color: var(--grey);
}

.filters {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}



@media (min-width: 328px) {
    :root {
        --fsh1: 24px;
        --fsh2: 22px;
        --fsh3: 20px;
        --fsh4: 18px;
        --fsh5: 16px;
        --fsp: 14px;
    }
}

@media (min-width: 600px) {
    :root {
        --fsh1: 24px;
        --fsh2: 22px;
        --fsh3: 20px;
        --fsh4: 18px;
        --fsh5: 16px;
        --fsp: 15px;
    }
    
}

@media (min-width: 768px) {
    :root {
        --fsh1: 26px;
        --fsh2: 24px;
        --fsh3: 22px;
        --fsh4: 20px;
        --fsh5: 18px;
        --fsp: 16px;
    }
}

@media (min-width: 1024px) {
    :root {
        --fsh1: 28px;
        --fsh2: 26px;
        --fsh3: 22px;
        --fsh4: 20px;
        --fsh5: 18px;
        --fsp: 16px;
    }
}